{% extends '::base.html.twig' %}

{% block title %}
    Beers :: {{ parent() }}
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('business.beer.new') }}" class="btn btn-primary btn-flat">
                        <i class="fa fa-plus"></i> Create a new beer
                    </a>
                </div>
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped table-condensed table-hover dataTable">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for beer in beers %}
                    <tr>
                        <td>{{ beer.category.name }}</td>
                        <td><a href="{{ path('business.beer.show', { 'id': beer.id }) }}">{{ beer.name }}</a></td>
                        <td>{{ beer.notes|nl2br }}</td>
                        <td>
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <a href="{{ path('business.beer.show', { 'id': beer.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('business.beer.edit', { 'id': beer.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
