{% extends ':business:layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary" value="Save">
    {{ form_end(form) }}

    <a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a>
{% endblock %}