<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>{% block title %}Beerme{% endblock %}</title>

        {% block stylesheets -%}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        {%- endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!--[if lt IE 9]>
        <script src="{{ asset('js/html5shiv.min.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->
    </head>

    {% set _body_classes = block('body_classes') %}

    <body{% if _body_classes %} class="{{ _body_classes }}"{% endif %}>
        {% block body %}{% endblock %}
        {% block javascripts -%}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {%- endblock %}
    </body>
</html>
