{% extends "::base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-lg-3">
            <h2 class="form-signin-heading">Why us</h2>
            <p>
                Some shit about how you should join us blabla
            </p>
        </div>
        {{ form_start(form) }}
        <div class="col-lg-5">
            <h2 class="form-signin-heading">Get started with an account</h2>
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.businessName) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_label(form.phoneOne, 'Business phone') }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.phoneOne) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.phoneTwo) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.phoneThree) }}
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Beer me in !</button>
        </div>
        <div class="col-lg-4">
            <h2 class="form-signin-heading">Where do you beer mate ?</h2>
            {{ form_row(form.address) }}
            {{ form_row(form.zipCode) }}
            {{ form_row(form.country) }}
            {{ form_row(form.province) }}
            {{ form_row(form.city) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}