{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Business creation</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="Submit" value="Create" />
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin.business.list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
